bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
CompCube-Server/appsettings.json
CompCube-Server/appsettings.development.json
/.vs
/CompCube-Server/CompCube-Server.csproj.user
CompCube-Server/events.json
